[submodule "backEnd/replecon"]
	path = backEnd/replecon
	url = https://github.com/sverrep/replecon.git
[submodule "frontEnd/web"]
	path = frontEnd/web
	url = https://gitlab.com/sverre.paulsen/replecon-front-end.git
