.logo-h1{
  text-align: center;
  color:#0d6efd;
  padding-bottom: 2%;
}

.login-container{
  display: flex;
  justify-content: center;
  width: 50%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.login-h3{
  text-align: center;
}

.login-btns{
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
  width: 60%;
}

.login-btns-row{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footerlog {
  position: fixed;
  text-align: center;
  padding: 5px 5px 0px 5px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/ 
  height: 30px;
  background: rgb(235, 235, 235);

.error-message{
  text-align: center;
  color:red;
}