.wrapper{
  font-family: 'Montserrat', sans-serif;
}


ul li {
    transition: 0.3s;
    padding: 3px 8px;
    border-radius: 5px;
    margin-top: 2px;
    
  }

  .green{
    background-color:rgb(49, 211, 49);
  }

  .red{
    background-color:rgb(253, 63, 63);
  }

  .grey{
    background-color:rgb(117, 117, 117);
  }

.transactions{
    width: 49.5%;
    float: left;
}

.boughtItems{
    width: 49.5%;
    float: right;
}

.title{
  margin-left: 40px;
}

.content{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.cardb{
  margin-top: 5px;
}