.wrapper{
  font-family: 'Montserrat', sans-serif;
}


ul li {
    transition: 0.3s;
    padding: 3px 8px;
    border-radius: 5px;
    margin-top: 2px;
    
  }

  .green{
    background-color:rgb(49, 211, 49);
  }

  .red{
    background-color:rgb(253, 63, 63);
  }

  .grey{
    background-color:rgb(117, 117, 117);
  }

.transactions{
    width: 49.5%;
    float: left;
}

.boughtItems{
    width: 49.5%;
    float: right;
}

.title{
  margin-left: 40px;
}

.content{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.cardb{
  margin-top: 5px;
}

.teacher-container{
  display: flex;
  justify-content: center;
  width: 50%;
  text-align: center;
  padding-top: 3%;
}

.teacher-h3{
  text-align: center;
}

.teacher-btn-create{
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  width: 20%;
  background-color: #546F99 !important;
  border-color: #546F99 !important;
  border-radius: 12px !important;
}

.teacher-btn-create:hover{
  background-color: #3a4d6b !important;
}

.teacher-btn-logout{
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  width: 20%;
  border-radius: 12px !important;
}

.teacher-btn-logout:hover{
  background-color: #767676 !important;
}

.teacher-btns-row{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.class-list{
  font-size: large;
}