.wrapper{
  font-family: 'Montserrat', sans-serif;
}

ul{
  list-style: circle;
}
ul li {
    transition: 0.3s;
    padding: 3px 8px;
    border-radius: 5px;
    margin-top: 2px;
  }

  .green{
    background-color:rgb(107, 200, 134);
  }

  .red{
    background-color:rgb(232, 96, 96);
  }

  .grey{
    background-color:rgb(118, 118, 118);
  }

.profile-title{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.profile-name{
  text-align: left;
}

.profile-balance{
  float: right;
  margin-left:auto;
}

.profile-content{
    margin: 0 auto;
    width: 1080px;
}

.inventory-button{
    margin-left: 10px;
    background-color: #546F99 !important;
    border-color: #546F99 !important;
    
}

.profile-button{
  background-color: #546F99 !important;
    border-color: #546F99 !important;
}


.cardb{
  margin-top: 5px;
}

.teacher-container{
  display: flex;
  justify-content: center;
  width: 50%;
  text-align: center;
  padding-top: 3%;
}

.teacher-h3{
  text-align: center;
}

.teacher-btn-create{
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  width: 20%;
  background-color: #546F99 !important;
  border-color: #546F99 !important;
  border-radius: 12px !important;
}

.teacher-btn-create:hover{
  background-color: #3a4d6b !important;
}

.teacher-btn-logout{
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  width: 20%;
  border-radius: 12px !important;
}

.teacher-btn-logout:hover{
  background-color: #767676 !important;
}

.teacher-btns-row{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.class-list{
  font-size: large;
}