.bank-info{
    margin: auto;
    width: 60%;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
}

.wrapper{
    font-family: 'Montserrat', sans-serif;
}

.con{
    margin-left: 40px;
    margin-top: 20px;
}

.bank-cards{
    margin-top: 20px;
}

.bank-content{
    margin: 0 auto;
    width: 1080px;
}

.bank-title{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.title-bank{
    text-align: left;
}

.title-balance{
    float: right;
    margin-left:auto;
}

.bank-button{
    background-color: #546F99 !important;
    border-color: #546F99 !important;
}