
  .signup-container{
    display: flex;
    justify-content: center;
    width: 50%;
  }
  
  .vertical-center {
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .signup-h3{
    text-align: center;
  }
  
  .signup-btns{
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 15px;
    width: 60%;
  }
  
  .signup-btns-row{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .error-message{
      text-align: center;
      color:red;
  }