.class-container{
    align-items: center;
    justify-content: center;
    height: 100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    font-family: 'Montserrat', sans-serif;
    overflow: visible;
}

.header-row {
    text-align: center;
}

.header-btn-row {
    justify-content: center;
}
.back-btn {
    width: 15%;
    height: 15%;
    margin-bottom: 10px;
}
.content-row {
    height: 90%;
    flex-wrap: nowrap !important;
}

.amount-input{
    margin-top: 2%;
}

.list-group{
    max-height: 80%;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

.pay-btns {
    margin-top: 2%;
    width: 100%;
}

.taxes-row {
    height: 25%;
}

.store-row {
    height: 40%;
}

.store-col {
    height: 100%;
}

.bank-row {
    height: 35%;
}

.bank-col {
    height: 85%;
}

.modal-input{
    width: 100%
}

.modal-btn{
    width: 100%
}

.small-group{
    max-height: 55%;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

.tax-btn-col{
    text-align: end;
}

.copy-col{
    margin-top: 15%;
}